:root {
    --border: .5rem solid #393939;
    --symbol-color: #FF7F5B;
  }

html {
    font: 16pt Helvetica;
}

body {
    animation: fadein 2s;
    
}

p {
    text-align: center;
    font-size: 12px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { 
        visibility: visible;
        opacity: 1; }
}

.inactive {
    background-color: silver;
}

h1 {
    text-align: center;
    margin-top: 16px;
}

h3 {
    text-align: center;
    margin: 1rem 0 .5rem 0;
    transition-duration: 0.2s;
}

#display-container {
    display: flex;
    justify-content: center;
}

#game-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

#game-container > div {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    cursor: pointer;    
    font-size: 48px;
}

#game-container div.X::after {
    content: "X";
    color: green;
    margin: auto;
}

#game-container div.O::after {
    content: "O";
    color: red;
    margin: auto;
}

#game-container > div:nth-child(-n+6) {
    border-bottom: var(--border);
  }

#game-container > div:nth-child(3n-1) {
    border-right: var(--border);
    border-left: var(--border);
  }

#player-one {
    margin-bottom: -2rem;
}

#player-two {
    margin-bottom: -2rem;
}

.button {
    outline: none;
    border: 2px solid gray;
    border-radius: 5px;
    border-color: 2px solid black;
    width: 75px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    visibility: hidden;
    transition-duration: 0.2s;
}

.showButton {
    animation: fadein 0.5s;
    visibility: visible;
}

.hideButton {
    animation: fadeOut 0.5s;
}

@keyframes fadeOut {
    from {  opacity: 1;
            visibility: visible;  }
    to   { 
            visibility: hidden;
            opacity: 0; }
}


.button:hover {
    border: none;
    background-color:rgb(255, 255, 0);  /* Green */
    filter: drop-shadow(1px 1px .5rem rgb(255, 255, 0, 1.0));
    transform: scale(1.1);
}
  
.player-img {
    height: 75px;
}

.glowing {
    animation: glowing 1000ms infinite;
}

@keyframes glowing {
    0% { filter: drop-shadow( 0px 0px 0rem rgb(255, 255, 0, 1.0)); }
    40% { filter: drop-shadow( 0px 0px .25rem rgb(255, 255, 0, 1.0)); }
    60% { filter: drop-shadow( 0px 0px .3rem rgb(255, 255, 0, 1.0)); }
    100% { filter: drop-shadow( 0px 0px 0rem rgb(255, 255, 0, 1.0)); }
  }

.player1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player1-container > div {
    margin: auto;
    padding-right: 2rem;
}

.player2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player2-container > div {
    margin: auto;
    padding-left: 2rem;
}

.messages {
    display: flex;
    flex-direction: column;
}